{{range .}}
<div class="character {{if .IsActive}}active{{end}}" data-id="{{.ID}}">
    <div class="view-mode">

        <h2 class="character-field">{{.Name}}</h2>
        <p class="character-field">Armor Class: {{.ArmorClass}}</p>
        <div class="character-field">
            <!-- Must be div within div like this in order to have it on one line -->
            <div>HP:
                <div class="editable" contenteditable="true" onblur="this.classList.add('unfocused')"
                    onfocus="this.classList.remove('unfocused')">
                    {{.CurrentHP}}
                </div>/{{.MaxHP}}
            </div>
            <p class="character-field">Initiative: {{.Initiative}}</p>
        </div>
        <button onclick="editCharacter(this)">edit</button>
    </div>
    <div class="edit-mode" style="display: none;">
        <input type="text" name="name" value="{{.Name}}" placeholder="Name">
        <input type="number" name="armorClass" value="{{.ArmorClass}}" placeholder="Armor Class">
        <input type="number" name="maxHP" value="{{.MaxHP}}" placeholder="Max HP">
        <input type="number" name="currentHP" value="{{.CurrentHP}}" placeholder="Current HP">
        <input type="number" name="initiative" value="{{.Initiative}}" placeholder="Initiative">
        <button onclick="saveCharacter(this)">Save</button>
        <button onclick="cancelEdit(this)">Cancel</button>
    </div>
</div>
{{end}}