{{range .}}
<div class="character {{if .IsActive}}active{{end}}" data-id="{{.ID}}">
    <div class="view-mode">
        <div class="character-field character-name">{{.Name}}</div>
        <div class="character-field">Armor Class: {{.ArmorClass}}</div>
        <div class="character-field">
            <!-- Must be div within div like this in order to have it on one line -->
            <div>HP:
                <div class="editable" contenteditable="true" onblur="this.classList.add('unfocused')"
                    onfocus="this.classList.remove('unfocused')">
                    {{.CurrentHP}}
                </div>/{{.MaxHP}}
            </div>
        </div>
        <div class="character-field">Initiative: {{.Initiative}}</div>
        <div><button onclick="editCharacter(this)">edit</button></div>
        
    </div>
    <div class="edit-mode" style="display: none;">
        <div class="character-field">
            <label for="name">Name</label>
            <input type="text" name="name" value="{{.Name}}" placeholder="Name">
        </div>
        <div class="character-field">
            <label for="armorClass">Armor Class</label>
            <input type="number" name="armorClass" value="{{.ArmorClass}}" placeholder="Armor Class">
        </div>
        <div class="character-field">
            <label for="maxHP">Max HP</label>
            <input type="number" name="maxHP" value="{{.MaxHP}}" placeholder="Max HP">
        </div>
        <div class="character-field">
            <label for="currentHP">Current HP</label>
            <input type="number" name="currentHP" value="{{.CurrentHP}}" placeholder="Current HP">
        </div>
        <div class="character-field">
            <label for="initiative">Initiative</label>
            <input type="number" name="initiative" value="{{.Initiative}}" placeholder="Initiative">
        </div>
        <button onclick="saveCharacter(this)">Save</button>
        <button onclick="cancelEdit(this)">Cancel</button>
    </div>
</div>
{{end}}