<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initiative Tracker</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/scripts.js"></script>
</head>

<body>
    <h1>Initiative Tracker</h1>
    <div id="encounter-list" hx-get="/encounters" hx-trigger="load" hx-target="#encounter-list" hx-swap="innerHTML">
        <!-- Encounter list will be loaded here -->
    </div>
    <button hx-post="/sort" hx-target="#character-list" hx-swap="innerHTML">Sort by Initiative</button>
    <button hx-post="/next" hx-target="#character-list" hx-swap="innerHTML">Next Character</button>
    <button hx-get="/add-character" hx-target="#character-list" hx-swap="innerHTML">Add Character</button>
    <div id="character-list" hx-get="/characters" hx-trigger="load">
        <!-- Character list will be loaded here -->
    </div>
    <script>
        document.body.addEventListener('htmx:afterSwap', function (event) {
            if (event.detail.target.id === 'character-list') {
                initializeSortable();
            }
        });

        initializeSortable();

        document.body.addEventListener('htmx:afterSettle', function (event) {
            if (event.detail.requestConfig && event.detail.requestConfig.path === '/add-character') {
                const newCharacter = event.detail.target.lastElementChild;
                newCharacter.querySelector('.edit-mode').style.display = 'block';
                newCharacter.querySelector('.view-mode').style.display = 'none';
            }
        });

        document.body.addEventListener('keydown', function (event) {
            // on press spacebar, trigger next character
            if (event.code === 'Space') {
                fetch('/next', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => response.text())
                    .then(html => {
                        document.getElementById('character-list').innerHTML = html;
                        initializeSortable();
                    })
                    .catch((error) => console.error('Error:', error));
            }
            // on press e, trigger edit mode
            if (event.code === 'KeyE') {
                const characterDiv = document.querySelector('.character.active');
                // prevent default if there is an active character and it is not in edit mode
                if (characterDiv && characterDiv.querySelector('.edit-mode').style.display === 'none') {
                    event.preventDefault();

                    characterDiv.querySelector('.edit-mode').style.display = '';
                    characterDiv.querySelector('.view-mode').style.display = 'none';
                    characterDiv.querySelector('.edit-mode input[name="name"]').focus();
                }
            }
            // on press escape, cancel edit mode
            if (event.code === 'Escape') {
                const characterDiv = document.querySelector('.character.active');
                // if there is an active character and it is in edit mode
                if (characterDiv && characterDiv.querySelector('.edit-mode').style.display !== 'none') {
                    characterDiv.querySelector('.edit-mode').style.display = 'none';
                    characterDiv.querySelector('.view-mode').style.display = '';
                }
            }
        });
    </script>
</body>

</html>